.my-skin.vjs-default-skin .vjs-big-play-button {
    background: url("../i/video-play.png") 0 0 no-repeat;
    border: none;
    width: 4em;
    height: 3.2em;
    box-shadow: none;
}
.my-skin.vjs-default-skin .vjs-big-play-button:hover {
    background-position: 0 -100px;
}

/* Optionally center */
.my-skin.vjs-default-skin.vjs-big-play-centered .vjs-big-play-button {

    /* Center it horizontally */
    margin-left: -2em;  /* Center it vertically */
    margin-top: -1.6em;
}
.my-skin.vjs-default-skin .vjs-big-play-button:before {
    content: '';
    display: none;
}
.my-skin.vjs-default-skin .vjs-play-control:before {
    width: 17px;
    height: 17px;
    overflow: hidden;
    left: 50%;
    top: 50%;
    margin-left: -8.5px;
    margin-top: -8.5px;    /*content: "\e001";*/
    content: "";
    background: url("../i/barBtn.png") 0 -18px no-repeat;
}
.my-skin.vjs-default-skin.vjs-playing .vjs-play-control:before {

    /*content: "\e002";*/
    content: "";
    background: url("../i/barBtn.png") 0 -40px no-repeat;
}
.my-skin.vjs-default-skin .vjs-control-bar {
    background-color: #1b2023;
}
.my-skin.vjs-default-skin .vjs-volume-level, .my-skin.vjs-default-skin .vjs-play-progress {
    background-color: #68ad40;
}
.my-skin.vjs-default-skin .vjs-seek-handle {
    background: url("../i/barBtn.png") -58px -15px no-repeat;
    width: 20px;
    height: 20px;
    margin-top: -3px;
}
.my-skin.vjs-default-skin .vjs-seek-handle:before {
    content: "";
}
.my-skin.vjs-default-skin .vjs-fullscreen-control:before {
    content: '';
    background: url("../i/barBtn.png") 0 -108px no-repeat;
    width: 17px;
    height: 17px;
    left: 50%;
    top: 50%;
    margin-left: -8.5px;
    margin-top: -8.5px;
}
.my-skin.vjs-default-skin .vjs-fullscreen-control:before:hover {
    background-position: -30px -108px;
}
.my-skin.vjs-fullscreen .vjs-fullscreen-control:before {
    background-position: -60px -108px;
}
.my-skin.vjs-fullscreen .vjs-fullscreen-control:before:hover {
    background-position: -90px -108px;
}
.my-skin.vjs-default-skin .vjs-volume-bar .vjs-volume-handle:before {
    content: "";
    background: url("../i/barBtn.png") -71px 1px no-repeat;
}
